
.responsive{
    width:100%;
    height:auto;
  }
  
  /* Mobile and Desktop Styles */
 .header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;
}

body {
  font-family: 'Times New Roman', Times, sans-serif;
  background-color:   #f1f6fe;
 

}

.logo {
  width: 90px; 
  height: auto;
  margin-right: 10px;
  border-style: solid;
  border-radius: 50px;
}

.header-text {
  font-size: 35px; 
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  color: darkcyan;
  text-align: center;
  padding: 10px;
  width: 100%;
  text-align: center;
}

  


   


.container img {
  position: relative;
  top: 30px;
  border-style: solid;
  border-color: darkcyan;
  border-radius: 50px;

}
.text h2 {
  position: relative;
  text-align: center;
  top: 32px;
  color: darkcyan;

}
.text p {
  position: relative;
  text-align: center;
  top: 25px;
  font-size: 1.4em;
  font-family: 'Times New Roman', Times, serif;
}
div.photos {
  border: 1px solid #ccc;
}

div.photos:hover {
  border: 1px solid #777;
}

div.photos img {
  width: 100%;
  height: auto;
}

div.description {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
h2 {
  color: darkcyan;
}
li {
  font-size: 1.2em;
  font-style: italic;

}
#headerlisttext {
  color: darkcyan;
}

.navbar {
  overflow: hidden;
  background-color:  #2b6777;
}

.navbar a {
  float: left;
  font-size: 25px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 25px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #25778d;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* maps for mobile and web */

.maps-container {
  max-width: 600px; 

}

.maps-frame {
  position: relative;
  padding-top: 56.25%; /* 16:9 ratio */
}

.maps-frame iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
  
footer {
    background-color: rgba(255, 255, 255, 0.826);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  
  .subscribe-form {
    flex: 1 0 40%;
    margin-bottom: 20px;
  }
  
  .subscribe-form h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .subscribe-form input[type="email"] {
    padding: 10px;
    width: 50%;
    margin-bottom: 10px;
    border: 1px solid #090909;
    border-radius: 25px;
  }
  
  .subscribe-form button[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fffcf7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .subscribe-form button[type="submit"]:hover {
    background-color: #555;
  }
  
  .copyrigh {
    flex: 1 0 60%;
    text-align: right;
    color: #666;
  }
  
  .copyrigh p {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  


